{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<section id="contentSection">
    <div class="row">
        <div class="left_content">
          <div class="contact_area">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
           
            <form method = "post" autocomplete="off" action="{% url 'contact' %}" class="contact_form">
                  {% csrf_token %}
                {% comment %} {{form|crispy}} {% endcomment %}

                               
                <div class="row">
                    <div class="col-md-4"> 
                        {{form.title|as_crispy_field}}
                    </div>
                    <div class="col-md-8"> 
                        {{form.name|as_crispy_field}}
                    </div>
                </div>

                {{form.mobile|as_crispy_field}}
                {{form.message|as_crispy_field}}

                <div class="row">
                  <div class="col-md-4"> 
                      {{form.date_birth|as_crispy_field}}
                  </div>
                  <div class="col-md-4"> 
                      {{form.gender|as_crispy_field}}
                  </div>
                  <div class="col-md-4"> 
                    {{form.marital_status|as_crispy_field}}
                  </div>
                </div>

                  {{ form.addressLine1|as_crispy_field }}
                  {{ form.addressLine2|as_crispy_field }}
   
                  <div class="row">
                      <div class="col-md-6"> 
                        {{ form.city|as_crispy_field }}
                      </div>
                      <div class="col-md-6">
                          {{ form.state|as_crispy_field }}
                      </div>
                </div> 

             

            {% comment %} <table>{{ form.as_table }}</table> {% endcomment %}
              <input type="submit" value="Send Message">
            </form>

          </div>
      </div>
    
    </div>
  </section>



  {% endblock content %}