<div class="footer_bottom">
      <p class="copyright">Copyright &copy; 2045 <a href="{% url 'home' %}">7NEWS</a></p>
      <p class="developer">Developed By XYZComapany</p>
    </div>
  </footer>

</div>

<script src="/static/js/jquery.min.js"></script> 
<script src="/static/js/wow.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/slick.min.js"></script> 
<script src="/static/js/jquery.li-scroller.1.0.js"></script> 
<script src="/static/js/jquery.newsTicker.min.js"></script> 
<script src="/static/js/jquery.fancybox.pack.js"></script> 
<script src="/static/js/custom.js"></script>
</body>
</html>