{% extends 'base.html' %}
{% block content %}


<section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"><span>Latest News</span>

            <marquee onmouseover ="stop()" onmouseout ="start()" class="floatingnewsblock">
                {% for news in news %}
                  <a href="/detailnews/{{news.id}}" class="floatingnews">  {{news.news_title}} </a>  &nbsp; &nbsp;  &nbsp; &nbsp; 
                {% endfor %}			
            </marquee>

          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="{% url 'singlepage' %}"></a></li>
              <li class="twitter"><a href="{% url 'singlepage' %}"></a></li>
              <li class="flickr"><a href="{% url 'singlepage' %}"></a></li>
              <li class="pinterest"><a href="{% url 'singlepage' %}"></a></li>
              <li class="googleplus"><a href="{% url 'singlepage' %}"></a></li>
              <li class="vimeo"><a href="{% url 'singlepage' %}"></a></li>
              <li class="youtube"><a href="{% url 'singlepage' %}"></a></li>
              <li class="mail"><a href="{% url 'singlepage' %}"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


 <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">

            {% for i in news %}
                <div class="single_iteam">  <a href="{% url 'singlepage' %}"> <img src="/media/{{i.news_image}}" alt=""></a> 
                    <div class="slider_article">
                    <h2> {{ i.news_title }} </h2>
                    <p> {{ i.news_desc }} </p>
                    </div>
                </div>
            {% endfor %}

        </div>
      </div> 
    

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">

            {% for j in firstnews %}
              <li>
                <div class="media"> <a href="{% url 'singlepage' %}" class="media-left"> <img src="/media/{{j.firstsidenews_image}}" ></a>
                  <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> {{ j.firstsidenews_title }} </a> </div>
                </div>
              </li>
            {% endfor %}

            </ul>
            <div id="next-button"><i class="fa fa-chevron-down"></i></div>
          </div>
         </div>
      </div> 
    </div>
  </section> 


  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Business</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="{% url 'singlepage' %}" class="featured_img"> <img alt="" src="static/images/news1.jfif"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{% url 'singlepage' %}">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                       quae ab illo inventore veritatis et quasi architecto beatae vitae
                          sed quia non numquam eius modi tempora incidunt ut labore et dolore 
                          magnam aliquam quaerat voluptatem.</p>
                  </figure>
                </li>
              </ul>
            </div>
            
            <div class="single_post_content_right">
              <ul class="spost_nav">

                {% for k in secondleftdata %}
                <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img src="/media/{{ k.secondleft_image}}" ></a>
                      <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> {{k.secondleft_title}} </a> </div>
                    </div>
                  </li>
              {% endfor %}

              </ul>
            </div>
          </div>
          <div class="fashion_technology_area">
            <div class="fashion">
              <div class="single_post_content">
                <h2><span>Fashion</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  <li>
                    <figure class="bsbig_fig"> <a href="{% url 'singlepage' %}" class="featured_img"> <img alt="" src="static/images/news1.jfif"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{% url 'singlepage' %}">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                         quae ab illo inventore veritatis et quasi architecto beatae vitae
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore 
                            magnam aliquam quaerat voluptatem.</p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">

                    {% for k in thirdfirstdata %}
                    <li>
                        <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img src="/media/{{ k.thirdfirst_image}}" ></a>
                          <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> {{k.thirdfirst_title}} </a> </div>
                        </div>
                      </li>
                    {% endfor %}
                 
                </ul>
              </div>
            </div>
            <div class="technology">
              <div class="single_post_content">
                <h2><span>Technology</span></h2>
                <ul class="business_catgnav">
                  <li>
                    <figure class="bsbig_fig"> <a href="{% url 'singlepage' %}" class="featured_img"> <img alt="" src="static/images/news2.jfif"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{% url 'singlepage' %}">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                         quae ab illo inventore veritatis et quasi architecto beatae vitae
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore 
                            magnam aliquam quaerat voluptatem.</p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">

                    {% for k in thirdseconddata %}
                    <li>
                        <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img src="/media/{{ k.thirdsecond_image}}" ></a>
                          <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> {{k.thirdsecond_title}} </a> </div>
                        </div>
                      </li>
                    {% endfor %}
                 
                </ul>
              </div>
            </div>
          </div>

          <div class="single_post_content">
            <h2><span>Photography</span></h2>
            <ul class="photograph_nav  wow fadeInDown">
              {% for k in fourthdata %}
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="" 
                    title="Photography Ttile 6"> <img src="/media/{{ k.fourth_image}}"</a> </figure>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">

                {% for j in firstnews %}
                    <li>
                        <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img src="/media/{{j.firstsidenews_image}}"> </a>
                        <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title">  {{ j.firstsidenews_title }}</a> </div>
                        </div>
                    </li>
              {% endfor %}

            </ul>
          </div>

          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>

                    {% for  m in tagsdata %}
                  <li class="cat-item"><a href="{% url 'singlepage' %}">{{m.tags_title}}</a></li>
                    {% endfor %}

                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img alt="" src="static/images/news1.jfif"> </a>
                      <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img alt="" src="static/images/news1.jfif"> </a>
                      <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img alt="" src="static/images/news1.jfif"> </a>
                      <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'singlepage' %}" class="media-left"> <img alt="" src="static/images/news1.jfif"> </a>
                      <div class="media-body"> <a href="{% url 'singlepage' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="{% url 'singlepage' %}"> <img alt="" src="static/images/news1.jfif"> </a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>

              {% for  m in tagsdata %}
              <option>{{m.tags_title}}</option>
              {% endfor %}

            </select>
          </div>
        </aside>
      </div>
    </div>
  </section>

  
  <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2>Company Address</h2>
            <address>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
               et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
               aliquip ex ea commodo consequat.
               <br>
               <hr>
                Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
                </address>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2>Tag</h2>
            <ul class="tag_nav">
                {% for  m in tagsdata %}
              <li><a href="{% url 'singlepage' %}"> {{m.tags_title}} </a></li>
                {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
               et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
               aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumdolore eu fugiat 
               nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
               mollit anim id est laborum.</p>
            <address>
            Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
            </address>
          </div>
        </div>
      </div>
    </div>

    
{% endblock content %}